

    h1 { 
       background-color: green;
       color: white;
	   border: 1px solid black;
	   display: flex;
    }
    p {
    	text-align: center; 
    	color: green;
    }

h3 {
	background-color: green;
	color: white;
	 border: 1px solid black;
	 display: flex;
}

